body {

  padding: 0;
  margin: 0;
}
#logo {

  width: 100px;
  height: auto;
  float:left;
}


.topnav {
  background-color: #333;
  overflow: hidden;
  /*background-color:#482611;*/

  
}

/* Style the links inside the navigation bar */
.topnav a {
  float:left;
  display: block;
  color: #f2f2f2;
  
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:lightgrey;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color:rgb(246, 226, 206);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {

    position:none;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.card {

  margin-left:15%;
}



.flip-card {
  background-color: transparent;
  width: 600px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #333;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color:#333;
  color: white;
  transform: rotateY(180deg);
}